### Import library

In [1]:
import os
os.chdir('../../')
os.getcwd()

'C:\\Users\\csia7\\OneDrive\\문서\\GitHub\\WQBrain_2024_API'

In [2]:
import ace_lib as ace
import helpful_functions as hf
import pandas as pd
import requests
import plotly.express as px
import pygwalker as pyg
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

### Start session
Enter credentials once - they will be saved to local folder and loaded each time

In [3]:
s = ace.start_session()

Complete biometrics authentication and press any key to continue:
https://api.worldquantbrain.com/authentication/persona?inquiry=inq_wRbJSB8KavfDKU41fara2NHzDBBQ

## Global region Alpha Template

In [7]:
expression_template = f'''
group = (country+1)*group_max(pv13_52_minvol_1m_all_delay_1_sector, market) + pv13_52_minvol_1m_all_delay_1_sector;
group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_ecns, industry, 252, std=1), 252), densify(group))
'''

#### Step 1. Download datsets

In [4]:
datasets_df = hf.get_datasets(s, region = 'GLB', universe = 'MINVOL1M') # by default we load all datasets USA TOP3000 delay 1    , region='GLB', universe='MINVOL1M'
datasets_df # DataFrame.head() shows first 5 rows of the dataframe

,id,name,description,category,subcategory,region,delay,universe,coverage,turnover,valueScore,userCount,alphaCount,fieldCount,themes,researchPapers
0,analyst11,ESG scores,Environmental Social Governance scores that ex...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-esg', 'name': 'ESG'}",GLB,1,MINVOL1M,0.7917,None,4.0,66,299,197,[],"[{'title': 'Research Paper 19: ESG Preference,..."
1,analyst14,Estimations of Key Fundamentals,This dataset reports many items from financial...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-analyst-estimates', 'name': 'A...",GLB,1,MINVOL1M,0.5186,None,3.0,101,584,926,[],[{'title': 'Research Paper 10: Investor Learni...
2,analyst15,Earnings forecasts,This dataset provides bottom-up forecast data ...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-analyst-estimates', 'name': 'A...",GLB,1,MINVOL1M,0.9929,None,2.0,157,1489,288,[],[]
3,analyst16,Real Time Estimates,This dataset provides real-time access to the ...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-crowdsourced-estimates', 'name...",GLB,1,MINVOL1M,0.9013,None,2.0,134,807,42,[],[]
4,analyst35,ESG Model,The dataset provide ESG related information ba...,"{'id': 'analyst', 'name': 'Analyst'}","{'id': 'analyst-esg', 'name': 'ESG'}",GLB,1,MINVOL1M,0.4375,None,3.0,63,201,23,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,shortinterest6,SmartHoldings Model,This dataset is a global stock selection model...,"{'id': 'shortinterest', 'name': 'Short Interest'}","{'id': 'shortinterest-short-sale-models', 'nam...",GLB,1,MINVOL1M,0.9711,None,2.0,91,382,11,[],[]
84,shortinterest7,Short Selling Model,The dataset combines features obtained from sh...,"{'id': 'shortinterest', 'name': 'Short Interest'}","{'id': 'shortinterest-short-sale-models', 'nam...",GLB,1,MINVOL1M,1.0000,None,2.0,73,331,16,[],[{'title': 'Research Paper 04: Strategic Rebal...
85,socialmedia12,Sentiment Data for Equity,This dataset provides sentiment data with diff...,"{'id': 'socialmedia', 'name': 'Social Media'}","{'id': 'socialmedia-social-media', 'name': 'So...",GLB,1,MINVOL1M,0.6731,None,3.0,17,25,2,[],[{'title': 'Research Paper 01: Textual Sentime...
86,socialmedia5,Lexical Breakdown Data,Sentiment scores derived from social media. So...,"{'id': 'socialmedia', 'name': 'Social Media'}","{'id': 'socialmedia-social-media', 'name': 'So...",GLB,1,MINVOL1M,0.3753,None,5.0,2,3,12,[],[]
87,univ1,Universe Dataset,No dataset description,"{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-price-volume', 'name': 'Price Volume'}",GLB,1,MINVOL1M,1.0000,None,3.0,3,5,2,[],[]

In [20]:
# select needed datasets
selected_datasets_df_1 = datasets_df[
    (datasets_df["name"].str.contains('relationship data for equity', case=False))
].sort_values(by=['valueScore'], ascending=False)
selected_datasets_df_1

,id,name,description,category,subcategory,region,delay,universe,coverage,turnover,valueScore,userCount,alphaCount,fieldCount,themes,researchPapers
73,pv13,Relationship Data for Equity,The dataset outputs various classifications an...,"{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,0.9152,None,1.0,127,1924,29,[],[]

In [21]:
# select needed datasets
selected_datasets_df_2 = datasets_df[
    (datasets_df["name"].str.contains('fundamental point in time', case=False))
].sort_values(by=['valueScore'], ascending=False)
selected_datasets_df_2

,id,name,description,category,subcategory,region,delay,universe,coverage,turnover,valueScore,userCount,alphaCount,fieldCount,themes,researchPapers
21,fundamental23,Fundamental Point in Time Data,This dataset gives point in time access to fun...,"{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,0.6704,None,2.0,257,2041,886,[],[{'title': 'Research Paper 01: Textual Sentime...

#### Step 2. Select the needed datafields

##### Step 2-1. equity relationship datafield extraction

In [23]:
dataset_id_1 = selected_datasets_df_1.id.values.tolist()[0] # create a list of selected datasets ids, our list has only one element
dataset_id_1

'pv13'

In [24]:
datafields_df_1 = hf.get_datafields(s, region = 'GLB', universe = 'MINVOL1M', dataset_id=dataset_id_1) # download all fields of dataset news
datafields_df_1

,id,description,dataset,category,subcategory,region,delay,universe,type,coverage,turnover,userCount,alphaCount,themes
0,pv13_10_f2_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,27,146,[]
1,pv13_10_f2_g4_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,16,102,[]
2,pv13_10_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,17,98,[]
3,pv13_10_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,120,[]
4,pv13_10_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,4,10,[]
5,pv13_1l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.8770,None,31,120,[]
6,pv13_20_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,234,[]
7,pv13_2_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,75,[]
8,pv13_2_f4_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,88,[]
9,pv13_2_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,26,88,[]
10,pv13_2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,132,[]
11,pv13_2_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,5,6,[]
12,pv13_2l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,23,125,[]
13,pv13_3l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,25,59,[]
14,pv13_4l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,20,68,[]
15,pv13_52_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,22,125,[]
16,pv13_52_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,23,104,[]
17,pv13_5_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,150,[]
18,pv13_5_f3_g2_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,3,3,[]
19,pv13_5_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,14,65,[]
20,pv13_5l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,34,288,[]
21,pv13_6l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,39,372,[]
22,pv13_ompetitor_graphrank_auth_rank,the HITS authority score of competitors,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.7318,None,6,14,[]
23,pv13_ompetitor_graphrank_hub_rank,the HITS hub score of competitors,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.3809,None,7,12,[]
24,pv13_ompetitor_graphrank_page_rank,the PageRank score of competitors,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.7700,None,7,10,[]
25,pv13_reveremap,Mapping data,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,1.0000,None,6,10,[]
26,pv13_ustomer_graphrank_auth_rank,the HITS authority score of customers,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.7959,None,7,9,[]
27,pv13_ustomer_graphrank_hub_rank,the HITS hub score of customers,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.4791,None,3,8,[]
28,pv13_ustomer_graphrank_page_rank,the PageRank score of customers,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,MATRIX,0.8858,None,9,15,[]

In [30]:
selected_datafields_df_1 = datafields_df_1[
    (datafields_df_1['type'] == 'GROUP') & 
    (datafields_df_1['userCount'] > 5)
].sort_values(by=['userCount'], ascending=False)
selected_datafields_df_1

,id,description,dataset,category,subcategory,region,delay,universe,type,coverage,turnover,userCount,alphaCount,themes
21,pv13_6l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,39,372,[]
6,pv13_20_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,234,[]
3,pv13_10_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,120,[]
20,pv13_5l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,34,288,[]
5,pv13_1l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.8770,None,31,120,[]
0,pv13_10_f2_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,27,146,[]
9,pv13_2_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,26,88,[]
13,pv13_3l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,25,59,[]
12,pv13_2l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,23,125,[]
16,pv13_52_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,23,104,[]
15,pv13_52_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,22,125,[]
8,pv13_2_f4_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,88,[]
10,pv13_2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,132,[]
14,pv13_4l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,20,68,[]
7,pv13_2_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,75,[]
17,pv13_5_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,150,[]
2,pv13_10_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,17,98,[]
1,pv13_10_f2_g4_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,16,102,[]
19,pv13_5_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,14,65,[]

In [34]:
len(selected_datafields_df_1)

19

In [36]:
selected_datafields_df_1_id = selected_datafields_df_1.id.values.tolist()
selected_datafields_df_1_id

['pv13_6l_scibr',
 'pv13_20_minvol_1m_sector',
 'pv13_10_minvol_1m_sector',
 'pv13_5l_scibr',
 'pv13_1l_scibr',
 'pv13_10_f2_g3_minvol_1m_sector',
 'pv13_2_minvol_1m_all_delay_1_sector',
 'pv13_3l_scibr',
 'pv13_2l_scibr',
 'pv13_52_minvol_1m_sector',
 'pv13_52_minvol_1m_all_delay_1_sector',
 'pv13_2_f4_g3_minvol_1m_sector',
 'pv13_2_minvol_1m_sector',
 'pv13_4l_scibr',
 'pv13_2_f3_g2_minvol_1m_sector',
 'pv13_5_f3_g2_minvol_1m_sector',
 'pv13_10_f3_g2_minvol_1m_sector',
 'pv13_10_f2_g4_minvol_1m_sector',
 'pv13_5_minvol_1m_sector']

##### Step 2-2. fundamental time datafields extraction

In [27]:
dataset_id_2 = selected_datasets_df_2.id.values.tolist()[0] # create a list of selected datasets ids, our list has only one element
dataset_id_2

'fundamental23'

In [28]:
datafields_df_2 = hf.get_datafields(s, region = 'GLB', universe = 'MINVOL1M', dataset_id=dataset_id_2) # download all fields of dataset news
datafields_df_2

,id,description,dataset,category,subcategory,region,delay,universe,type,coverage,turnover,userCount,alphaCount,themes
0,fnd23_acc_payable,accounts payable,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.8848,None,11,30,[]
1,fnd23_annfv_item,integer index of the item description field. Y...,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,VECTOR,0.4969,None,1,1,[]
2,fnd23_annfv_value,annual financial values.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,VECTOR,0.4969,None,2,2,[]
3,fnd23_annfvmfm2_acta,total current assets. Sum of cash and short te...,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9223,None,16,30,[]
4,fnd23_annfvmfm2_amao,Amortization of Acquisition Costs,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.3231,None,1,2,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,fnd23_topic3,third tier topic mapped to parent topic.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,VECTOR,0.7647,None,0,0,[]
882,fnd23_tot_assets,total assets.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,31,84,[]
883,fnd23_tot_inventory,total inventory.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9832,None,6,8,[]
884,fnd23_tot_revenue,total revenue.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9928,None,12,18,[]
885,fnd23_ve,enterprise value,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9619,None,18,38,[]

In [31]:
selected_datafields_df_2 = datafields_df_2[
    (datafields_df_2['type'] == 'MATRIX') &
    (datafields_df_2["userCount"] > 5)
].sort_values(by=['userCount'], ascending=False)
selected_datafields_df_2

,id,description,dataset,category,subcategory,region,delay,universe,type,coverage,turnover,userCount,alphaCount,themes
14,fnd23_annfvmfm2_fcos,Changes in Working Capital,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,70,167,[]
23,fnd23_annfvmfm2_olto,includes diverse cash flows that are reported ...,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,41,101,[]
882,fnd23_tot_assets,total assets.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,31,84,[]
875,fnd23_roe,return on equity,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,29,47,[]
870,fnd23_net_income,net income,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,28,74,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,fnd23_annfvmfm2_lctl,represents current liabilities for industrial ...,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9225,None,6,8,[]
302,fnd23_intfvalld1_ipos,Operating Income.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9922,None,6,13,[]
883,fnd23_tot_inventory,total inventory.,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.9832,None,6,8,[]
132,fnd23_intfvalld1_cdav,Deferred Revenue - Current,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,0.3804,None,6,15,[]
284,fnd23_intfvalld1_iads,Diluted EPS Including Extraordinary Items repr...,"{'id': 'fundamental23', 'name': 'Fundamental P...","{'id': 'fundamental', 'name': 'Fundamental'}","{'id': 'fundamental-fundamental-data', 'name':...",GLB,1,MINVOL1M,MATRIX,1.0000,None,6,8,[]

In [37]:
selected_datafields_df_2_id = selected_datafields_df_2.id.values.tolist()
selected_datafields_df_2_id

['fnd23_annfvmfm2_fcos',
 'fnd23_annfvmfm2_olto',
 'fnd23_tot_assets',
 'fnd23_roe',
 'fnd23_net_income',
 'fnd23_intfvalld1_iscs',
 'fnd23_cash_n_equivalents',
 'fnd23_aor',
 'fnd23_ebitda',
 'fnd23_intfvmfm2_olto',
 'fnd23_net_debt',
 'fnd23_ofc',
 'fnd23_intfvalld1_dtns',
 'fnd23_annfvmfm2_iscs',
 'fnd23_intfvmfm_olto',
 'fnd23_ve',
 'fnd23_capex',
 'fnd23_curr_assets',
 'fnd23_annfvmfm2_acta',
 'fnd23_annfvmfm2_cnin',
 'fnd23_intfvalld1_ecns',
 'fnd23_intfvmalld1_olto',
 'fnd23_ebit',
 'fnd23_annfvmfm2_bpao',
 'fnd23_intfvmalld1_sedv',
 'fnd23_annfvmfm_olto',
 'fnd23_tot_revenue',
 'fnd23_annfvmfm2_bloo',
 'fnd23_acc_payable',
 'fnd23_curr_liabilities',
 'fnd23_ffcf',
 'fnd23_intfvalld1_fbds',
 'fnd23_intfvalld1_ccns',
 'fnd23_annfvmfm2_ltio',
 'fnd23_debt_issuance',
 'fnd23_intfvmfm2_fcos',
 'fnd23_intfvmalld1_xbin',
 'fnd23_intfvmalld1_ipos',
 'fnd23_intfvalld1_fcos',
 'fnd23_annfvmfm2_eltq',
 'fnd23_annfvmfm2_inds',
 'fnd23_cogs',
 'fnd23_lt_debt',
 'fnd23_intfvmalld1_ccns',
 'fnd23_intfvalld1_eaca',
 'fnd23_intfvmalld1_ppos',
 'fnd23_intfvalld1_ndlf',
 'fnd23_intfvmalld1_iscs',
 'fnd23_intfvalld1_sebv',
 'fnd23_intfvalld1_iucs',
 'fnd23_annfvmfm2_xecs',
 'fnd23_intfvalld1_lcos',
 'fnd23_intfvalld1_caiv',
 'fnd23_intfvmfm2_inds',
 'fnd23_intfvmalld1_ecns',
 'fnd23_intfvmfm2_tibs',
 'fnd23_intfvmfm_eltq',
 'fnd23_intfvalld1_mpns',
 'fnd23_intfvalld1_tbie',
 'fnd23_intfvmalld1_inds',
 'fnd23_annfvmfm2_lctl',
 'fnd23_intfvalld1_ipos',
 'fnd23_tot_inventory',
 'fnd23_intfvalld1_cdav',
 'fnd23_intfvalld1_iads']

#### Step 4. Apply generate_alpha function to the expression list
In generate alpha function you can specify region, universe, decay, delay and other simulation settings

이제 만들어둔 expressions 을 사용해 alpha simulation 을 해줍니다.

In [61]:
#?ace.generate_alpha

In [32]:
equity, time = ' ', ' '

expression_template = f'''
group = (country+1)*group_max({equity}, market) + {equity};
group_neutralize(ts_scale(group_backfill({time}, industry, 252, std=1), 252), densify(group))
'''

In [35]:
selected_datafields_df_1

,id,description,dataset,category,subcategory,region,delay,universe,type,coverage,turnover,userCount,alphaCount,themes
21,pv13_6l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,39,372,[]
6,pv13_20_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,234,[]
3,pv13_10_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,36,120,[]
20,pv13_5l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,34,288,[]
5,pv13_1l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.8770,None,31,120,[]
0,pv13_10_f2_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,27,146,[]
9,pv13_2_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,26,88,[]
13,pv13_3l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,25,59,[]
12,pv13_2l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,23,125,[]
16,pv13_52_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,23,104,[]
15,pv13_52_minvol_1m_all_delay_1_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,22,125,[]
8,pv13_2_f4_g3_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,88,[]
10,pv13_2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,21,132,[]
14,pv13_4l_scibr,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,0.9238,None,20,68,[]
7,pv13_2_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,75,[]
17,pv13_5_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,19,150,[]
2,pv13_10_f3_g2_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,17,98,[]
1,pv13_10_f2_g4_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,16,102,[]
19,pv13_5_minvol_1m_sector,grouping fields,"{'id': 'pv13', 'name': 'Relationship Data for ...","{'id': 'pv', 'name': 'Price Volume'}","{'id': 'pv-relationship', 'name': 'Relationship'}",GLB,1,MINVOL1M,GROUP,1.0000,None,14,65,[]

In [39]:
parameters = []
for i in range(10):
    for j in range(10):
        parameters.append([selected_datafields_df_1_id[i], selected_datafields_df_2_id[j]])
parameters

[['pv13_6l_scibr', 'fnd23_annfvmfm2_fcos'],
 ['pv13_6l_scibr', 'fnd23_annfvmfm2_olto'],
 ['pv13_6l_scibr', 'fnd23_tot_assets'],
 ['pv13_6l_scibr', 'fnd23_roe'],
 ['pv13_6l_scibr', 'fnd23_net_income'],
 ['pv13_6l_scibr', 'fnd23_intfvalld1_iscs'],
 ['pv13_6l_scibr', 'fnd23_cash_n_equivalents'],
 ['pv13_6l_scibr', 'fnd23_aor'],
 ['pv13_6l_scibr', 'fnd23_ebitda'],
 ['pv13_6l_scibr', 'fnd23_intfvmfm2_olto'],
 ['pv13_20_minvol_1m_sector', 'fnd23_annfvmfm2_fcos'],
 ['pv13_20_minvol_1m_sector', 'fnd23_annfvmfm2_olto'],
 ['pv13_20_minvol_1m_sector', 'fnd23_tot_assets'],
 ['pv13_20_minvol_1m_sector', 'fnd23_roe'],
 ['pv13_20_minvol_1m_sector', 'fnd23_net_income'],
 ['pv13_20_minvol_1m_sector', 'fnd23_intfvalld1_iscs'],
 ['pv13_20_minvol_1m_sector', 'fnd23_cash_n_equivalents'],
 ['pv13_20_minvol_1m_sector', 'fnd23_aor'],
 ['pv13_20_minvol_1m_sector', 'fnd23_ebitda'],
 ['pv13_20_minvol_1m_sector', 'fnd23_intfvmfm2_olto'],
 ['pv13_10_minvol_1m_sector', 'fnd23_annfvmfm2_fcos'],
 ['pv13_10_minvol_1m_sector', 'fnd23_annfvmfm2_olto'],
 ['pv13_10_minvol_1m_sector', 'fnd23_tot_assets'],
 ['pv13_10_minvol_1m_sector', 'fnd23_roe'],
 ['pv13_10_minvol_1m_sector', 'fnd23_net_income'],
 ['pv13_10_minvol_1m_sector', 'fnd23_intfvalld1_iscs'],
 ['pv13_10_minvol_1m_sector', 'fnd23_cash_n_equivalents'],
 ['pv13_10_minvol_1m_sector', 'fnd23_aor'],
 ['pv13_10_minvol_1m_sector', 'fnd23_ebitda'],
 ['pv13_10_minvol_1m_sector', 'fnd23_intfvmfm2_olto'],
 ['pv13_5l_scibr', 'fnd23_annfvmfm2_fcos'],
 ['pv13_5l_scibr', 'fnd23_annfvmfm2_olto'],
 ['pv13_5l_scibr', 'fnd23_tot_assets'],
 ['pv13_5l_scibr', 'fnd23_roe'],
 ['pv13_5l_scibr', 'fnd23_net_income'],
 ['pv13_5l_scibr', 'fnd23_intfvalld1_iscs'],
 ['pv13_5l_scibr', 'fnd23_cash_n_equivalents'],
 ['pv13_5l_scibr', 'fnd23_aor'],
 ['pv13_5l_scibr', 'fnd23_ebitda'],
 ['pv13_5l_scibr', 'fnd23_intfvmfm2_olto'],
 ['pv13_1l_scibr', 'fnd23_annfvmfm2_fcos'],
 ['pv13_1l_scibr', 'fnd23_annfvmfm2_olto'],
 ['pv13_1l_scibr', 'fnd23_tot_assets'],
 ['pv13_1l_scibr', 'fnd23_roe'],
 ['pv13_1l_scibr', 'fnd23_net_income'],
 ['pv13_1l_scibr', 'fnd23_intfvalld1_iscs'],
 ['pv13_1l_scibr', 'fnd23_cash_n_equivalents'],
 ['pv13_1l_scibr', 'fnd23_aor'],
 ['pv13_1l_scibr', 'fnd23_ebitda'],
 ['pv13_1l_scibr', 'fnd23_intfvmfm2_olto'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_annfvmfm2_fcos'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_annfvmfm2_olto'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_tot_assets'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_roe'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_net_income'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_intfvalld1_iscs'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_cash_n_equivalents'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_aor'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_ebitda'],
 ['pv13_10_f2_g3_minvol_1m_sector', 'fnd23_intfvmfm2_olto'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_annfvmfm2_fcos'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_annfvmfm2_olto'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_tot_assets'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_roe'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_net_income'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_intfvalld1_iscs'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_cash_n_equivalents'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_aor'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_ebitda'],
 ['pv13_2_minvol_1m_all_delay_1_sector', 'fnd23_intfvmfm2_olto'],
 ['pv13_3l_scibr', 'fnd23_annfvmfm2_fcos'],
 ['pv13_3l_scibr', 'fnd23_annfvmfm2_olto'],
 ['pv13_3l_scibr', 'fnd23_tot_assets'],
 ['pv13_3l_scibr', 'fnd23_roe'],
 ['pv13_3l_scibr', 'fnd23_net_income'],
 ['pv13_3l_scibr', 'fnd23_intfvalld1_iscs'],
 ['pv13_3l_scibr', 'fnd23_cash_n_equivalents'],
 ['pv13_3l_scibr', 'fnd23_aor'],
 ['pv13_3l_scibr', 'fnd23_ebitda'],
 ['pv13_3l_scibr', 'fnd23_intfvmfm2_olto'],
 ['pv13_2l_scibr', 'fnd23_annfvmfm2_fcos'],
 ['pv13_2l_scibr', 'fnd23_annfvmfm2_olto'],
 ['pv13_2l_scibr', 'fnd23_tot_assets'],
 ['pv13_2l_scibr', 'fnd23_roe'],
 ['pv13_2l_scibr', 'fnd23_net_income'],
 ['pv13_2l_scibr', 'fnd23_intfvalld1_iscs'],
 ['pv13_2l_scibr', 'fnd23_cash_n_equivalents'],
 ['pv13_2l_scibr', 'fnd23_aor'],
 ['pv13_2l_scibr', 'fnd23_ebitda'],
 ['pv13_2l_scibr', 'fnd23_intfvmfm2_olto'],
 ['pv13_52_minvol_1m_sector', 'fnd23_annfvmfm2_fcos'],
 ['pv13_52_minvol_1m_sector', 'fnd23_annfvmfm2_olto'],
 ['pv13_52_minvol_1m_sector', 'fnd23_tot_assets'],
 ['pv13_52_minvol_1m_sector', 'fnd23_roe'],
 ['pv13_52_minvol_1m_sector', 'fnd23_net_income'],
 ['pv13_52_minvol_1m_sector', 'fnd23_intfvalld1_iscs'],
 ['pv13_52_minvol_1m_sector', 'fnd23_cash_n_equivalents'],
 ['pv13_52_minvol_1m_sector', 'fnd23_aor'],
 ['pv13_52_minvol_1m_sector', 'fnd23_ebitda'],
 ['pv13_52_minvol_1m_sector', 'fnd23_intfvmfm2_olto']]

In [40]:
expressions = []
for params in parameters:
    equity = params[0]
    time = params[1]
    expressions.append(f'group = (country+1)*group_max({equity}, market) + {equity};group_neutralize(ts_scale(group_backfill({time}, industry, 252, std=1), 252), densify(group))')

In [41]:
expressions

['group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_20_minvol_1m_sector, market) + pv13_20_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_minvol_1m_sector, market) + pv13_10_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_5l_scibr, market) + pv13_5l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_1l_scibr, market) + pv13_1l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_10_f2_g3_minvol_1m_sector, market) + pv13_10_f2_g3_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2_minvol_1m_all_delay_1_sector, market) + pv13_2_minvol_1m_all_delay_1_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_3l_scibr, market) + pv13_3l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_2l_scibr, market) + pv13_2l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_olto, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_tot_assets, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_roe, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_net_income, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvalld1_iscs, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_cash_n_equivalents, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_aor, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_ebitda, industry, 252, std=1), 252), densify(group))',
 'group = (country+1)*group_max(pv13_52_minvol_1m_sector, market) + pv13_52_minvol_1m_sector;group_neutralize(ts_scale(group_backfill(fnd23_intfvmfm2_olto, industry, 252, std=1), 252), densify(group))']

In [43]:
#when you send multiple alphas for simulation, please make sure all alphas of a single list should have common settings
#alphas with different settings should be sent in a different list, for instance below list has all alphas with same settings

alpha_list = [ace.generate_alpha(x, region= "GLB", universe = "MINVOL1M", neutralization = 'COUNTRY', truncation = 0.01, delay = 1, decay = 0) for x in expressions]
alpha_list[0]

{'type': 'REGULAR',
 'settings': {'instrumentType': 'EQUITY',
  'region': 'GLB',
  'universe': 'MINVOL1M',
  'delay': 1,
  'decay': 0,
  'neutralization': 'COUNTRY',
  'truncation': 0.01,
  'pasteurization': 'ON',
  'testPeriod': 'P0Y0M0D',
  'unitHandling': 'VERIFY',
  'nanHandling': 'OFF',
  'language': 'FASTEXPR',
  'visualization': False},
 'regular': 'group = (country+1)*group_max(pv13_6l_scibr, market) + pv13_6l_scibr;group_neutralize(ts_scale(group_backfill(fnd23_annfvmfm2_fcos, industry, 252, std=1), 252), densify(group))'}

### Simulate alpha list, get simulation result

simulate_alpha_list_multi will do a multi-simulation if list of alphas is greater than 10, which is the case here

the returned object will contain simulation results for all alphas as a list

In [44]:
#alpha expressions are sliced to first 10 for demonstration purpose

result = ace.simulate_alpha_list_multi(s, alpha_list[:50])

100%|███████████████████████████████████████████████████████████████████████████████| 17/17 [1:14:59<00:00, 264.67s/it]

위 코드를 실행하면 시뮬레이션이 시작됩니다. 100개의 알파에 대략 1시간 정도 소요되니, 인터넷 연결이 끊기지 않게 주의하시고, 너무 많은 알파를 한 번에 돌리기보다는 몇개씩 끊어서 돌려도 좋습니다.

In [45]:
#prettify_result function can be used from the helpful_functions library to take a look at IS stats of all the simulated alphas

result_st1 = hf.prettify_result(result, detailed_tests_view=False)
result_st1

,pnl,book_size,long_count,short_count,turnover,returns,drawdown,margin,fitness,sharpe,start_date,alpha_id,expression,concentrated_weight,high_turnover,is_ladder_sharpe,low_fitness,low_sharpe,low_sub_universe_sharpe,low_turnover
0,4142182,20000000,4013,3967,0.0469,0.0400,0.0361,0.001704,1.28,2.26,2012-01-22,ZpO36rQ,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,PASS,PASS,PASS,PASS,PASS
1,4122365,20000000,3988,3989,0.0474,0.0398,0.0362,0.001679,1.25,2.21,2012-01-22,g1nOo3K,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
2,4350382,20000000,4019,3911,0.0481,0.0420,0.0612,0.001745,1.24,2.14,2012-01-22,ZpO3lOd,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
3,4631670,20000000,3825,3617,0.0374,0.0447,0.0690,0.002389,1.20,2.01,2012-01-22,9wN15bq,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,PASS,PASS,PASS,PASS
4,4333680,20000000,3758,3722,0.0375,0.0418,0.0601,0.002233,1.17,2.03,2012-01-22,p69rxkj,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,PASS,PASS,PASS,PASS
5,4074932,20000000,4029,3898,0.0486,0.0393,0.0559,0.001618,1.15,2.05,2012-01-22,WpvQAeG,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
6,3493294,20000000,3936,4085,0.0485,0.0337,0.0726,0.001390,1.03,1.98,2012-01-22,WpvQXvZ,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
7,3178647,20000000,3854,3679,0.0319,0.0307,0.0271,0.001926,1.02,2.06,2012-01-22,dxNA2EY,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,PASS,PASS,PASS,PASS
8,3246982,20000000,3994,4098,0.0483,0.0314,0.0219,0.001297,1.01,2.01,2012-01-22,AwoZM1Y,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
9,3950050,20000000,3633,3891,0.0411,0.0381,0.0911,0.001855,1.01,1.83,2012-01-22,ZpO3Vqj,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,PASS,PASS,PASS,PASS
10,3274107,20000000,3980,4107,0.0488,0.0316,0.0227,0.001296,1.00,1.99,2012-01-22,7webzN5,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,PASS,PASS,PASS,PASS
11,3023163,20000000,4118,3907,0.0405,0.0292,0.0336,0.001443,0.99,2.04,2012-01-22,KbWdjKk,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,FAIL,PASS
12,3406822,20000000,3936,4079,0.0485,0.0329,0.0729,0.001356,0.98,1.91,2012-01-22,ad5Z1x9,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
13,3401673,20000000,3724,3862,0.0390,0.0328,0.0392,0.001685,0.92,1.79,2012-01-22,Lp0APkL,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
14,3210686,20000000,3800,3571,0.0448,0.0310,0.0338,0.001383,0.91,1.82,2012-01-22,OplP7L1,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
15,2931831,20000000,3987,4105,0.0497,0.0283,0.0245,0.001140,0.88,1.84,2012-01-22,RpGQMN1,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
16,3143649,20000000,3705,3651,0.0452,0.0304,0.0315,0.001342,0.87,1.76,2012-01-22,bLekgAm,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
17,2951310,20000000,3969,4122,0.0502,0.0285,0.0255,0.001136,0.87,1.82,2012-01-22,AwoZgjd,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
18,2759196,20000000,4155,3870,0.0409,0.0266,0.0424,0.001303,0.86,1.86,2012-01-22,wR0xJeQ,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,FAIL,PASS
19,3163001,20000000,3739,3555,0.0467,0.0305,0.0405,0.001309,0.82,1.65,2012-01-22,ZpO3XNQ,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
20,2864375,20000000,3724,3692,0.0459,0.0277,0.0420,0.001206,0.81,1.72,2012-01-22,Ew9WzgL,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
21,3127918,20000000,3734,3534,0.0471,0.0302,0.0416,0.001283,0.80,1.62,2012-01-22,m8E3N6E,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
22,2649423,20000000,3489,3680,0.0361,0.0256,0.0462,0.001418,0.77,1.71,2012-01-22,k3z2xnL,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
23,2783104,20000000,3754,3741,0.0462,0.0269,0.0239,0.001163,0.76,1.63,2012-01-22,GwZAQ9J,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
24,2507696,20000000,3820,3831,0.0442,0.0242,0.0442,0.001095,0.75,1.71,2012-01-22,273zb1x,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,FAIL,PASS
25,2647610,20000000,3766,3627,0.0461,0.0256,0.0465,0.001108,0.72,1.58,2012-01-22,VpAj9rb,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
26,2834924,20000000,3711,3875,0.0399,0.0274,0.0400,0.001372,0.71,1.52,2012-01-22,VpAjZLJ,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
27,2708672,20000000,3683,3796,0.0466,0.0262,0.0301,0.001122,0.71,1.56,2012-01-22,2730xmx,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
28,2536446,20000000,4081,3525,0.0313,0.0245,0.0533,0.001564,0.70,1.57,2012-01-22,NpYmwYo,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,FAIL,PASS
29,2347064,20000000,3831,3817,0.0448,0.0227,0.0527,0.001013,0.67,1.58,2012-01-22,OplP5pY,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,PASS,PASS,PASS
30,2450748,20000000,3726,3765,0.0470,0.0237,0.0232,0.001007,0.66,1.51,2012-01-22,ngLR75d,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
31,2381727,20000000,3662,3818,0.0475,0.0230,0.0231,0.000969,0.62,1.45,2012-01-22,5wPb1Yz,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
32,2367887,20000000,3873,3255,0.0243,0.0229,0.0768,0.001882,0.58,1.36,2012-01-22,ngLRqnq,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,FAIL,PASS
33,2184285,20000000,3837,3544,0.0388,0.0211,0.0451,0.001088,0.54,1.32,2012-01-22,9wNv32K,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
34,1991488,20000000,4078,3524,0.0316,0.0192,0.0555,0.001219,0.48,1.23,2012-01-22,Jp6EgjO,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,FAIL,PASS
35,2003956,20000000,3579,3407,0.0425,0.0194,0.0315,0.000911,0.47,1.20,2012-01-22,PpkWbgp,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
36,1973662,20000000,3841,3560,0.0383,0.0191,0.0562,0.000995,0.47,1.21,2012-01-22,g1nOjlM,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
37,1890034,20000000,3535,3477,0.0420,0.0183,0.0479,0.000868,0.44,1.15,2012-01-22,17rbGPX,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
38,1845199,20000000,4068,2851,0.0286,0.0178,0.0382,0.001246,0.43,1.13,2012-01-22,0713Rqv,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
39,1810470,20000000,4156,2727,0.0289,0.0175,0.0390,0.001212,0.40,1.08,2012-01-22,bLekmpq,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
40,1939768,20000000,4767,3239,0.0369,0.0187,0.0773,0.001015,0.35,0.90,2012-01-22,m8ERpqp,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
41,1839119,20000000,4739,3261,0.0371,0.0178,0.0816,0.000958,0.32,0.86,2012-01-22,z9l6PqE,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
42,1126063,20000000,3464,3694,0.0261,0.0109,0.0187,0.000832,0.28,0.96,2012-01-22,Qawkznr,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
43,1469164,20000000,4712,2801,0.0293,0.0142,0.1005,0.000968,0.20,0.59,2012-01-22,GwZAX7O,"group = (country+1)*group_max(pv13_1l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
44,1236167,20000000,4140,3207,0.0352,0.0119,0.0647,0.000679,0.18,0.58,2012-01-22,Lp0jvem,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
45,1108279,20000000,4095,3269,0.0347,0.0107,0.0682,0.000617,0.16,0.53,2012-01-22,Lp0a9Wm,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
46,747236,20000000,3848,3788,0.0332,0.0072,0.0242,0.000434,0.14,0.60,2012-01-22,7webAp1,group = (country+1)*group_max(pv13_20_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,FAIL,PASS
47,671490,20000000,3899,3731,0.0334,0.0065,0.0250,0.000388,0.12,0.53,2012-01-22,jZqRd5W,group = (country+1)*group_max(pv13_10_minvol_1...,PASS,PASS,FAIL,FAIL,FAIL,FAIL,PASS
48,399319,20000000,3825,3133,0.0309,0.0039,0.0264,0.000249,0.05,0.27,2012-01-22,NpYwdMq,"group = (country+1)*group_max(pv13_6l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS
49,332570,20000000,3702,3276,0.0307,0.0032,0.0305,0.000209,0.04,0.23,2012-01-22,m8ERgw6,"group = (country+1)*group_max(pv13_5l_scibr, m...",PASS,PASS,FAIL,FAIL,FAIL,PASS,PASS

prettify 함수를 이용해 dataframe 형식으로 변환하면 결과를 보기 더 편합니다.

In [46]:
result_st1.to_csv('2024_09_06_GLB.csv')

### How to submit?

Create a list of submittable alphas - alphas that have no FAIL in is_tests

시뮬레이션을 마친 알파 중 제출 가능한 알파들을 제출해 봅시다.

In [47]:
#to take a look at the combined result of all new alphas

is_tests_df = hf.concat_is_tests(result)
is_tests_df

,alpha_id,endDate,limit,message,name,result,startDate,themes,value,year
0,PpkWbgp,NaN,1.58,NaN,LOW_SHARPE,FAIL,NaN,NaN,1.2000,NaN
1,PpkWbgp,NaN,1.00,NaN,LOW_FITNESS,FAIL,NaN,NaN,0.4700,NaN
2,PpkWbgp,NaN,0.01,NaN,LOW_TURNOVER,PASS,NaN,NaN,0.0425,NaN
3,PpkWbgp,NaN,0.70,NaN,HIGH_TURNOVER,PASS,NaN,NaN,0.0425,NaN
4,PpkWbgp,NaN,NaN,NaN,CONCENTRATED_WEIGHT,PASS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
645,Lp0APkL,NaN,NaN,NaN,DATA_DIVERSITY,PENDING,NaN,NaN,NaN,NaN
646,Lp0APkL,NaN,NaN,NaN,PROD_CORRELATION,PENDING,NaN,NaN,NaN,NaN
647,Lp0APkL,NaN,NaN,NaN,REGULAR_SUBMISSION,PENDING,NaN,NaN,NaN,NaN
648,Lp0APkL,2020-01-25,1.58,NaN,IS_LADDER_SHARPE,FAIL,2022-01-24,NaN,1.4700,2.0
649,Lp0APkL,NaN,NaN,NaN,MATCHES_THEMES,WARNING,NaN,"[{'id': 'WBlNe4R', 'multiplier': 3.0, 'name': ...",NaN,NaN

In [48]:
#making a list of failed alphas
failed_alphas = is_tests_df.query('result=="FAIL"')['alpha_id'].unique()

#making a list of passed alphas
passed_alphas = list(set(is_tests_df['alpha_id']).difference(failed_alphas))

print(f'Failed alphas:{failed_alphas}\nPassed alphas:{passed_alphas}')

Failed alphas:['PpkWbgp' '2730xmx' 'm8E3N6E' '5wPb1Yz' 'bLekgAm' '9wNv32K' 'NpYwdMq'
 'bLekmpq' 'Lp0jvem' 'm8ERpqp' 'RpGQMN1' 'VpAj9rb' '7webAp1' 'NpYmwYo'
 'KbWdjKk' '273zb1x' 'AwoZM1Y' 'ZpO3lOd' 'WpvQXvZ' 'jZqRd5W' 'g1nOo3K'
 'wR0xJeQ' 'OplP5pY' 'Jp6EgjO' 'z9l6PqE' 'AwoZgjd' '7webzN5' 'WpvQAeG'
 'ad5Z1x9' 'ngLR75d' 'OplP7L1' 'g1nOjlM' 'm8ERgw6' '0713Rqv' 'Lp0a9Wm'
 '17rbGPX' 'GwZAQ9J' 'ZpO3XNQ' 'GwZAX7O' 'VpAjZLJ' 'p69rxkj' 'Ew9WzgL'
 'Qawkznr' 'ngLRqnq' '9wN15bq' 'ZpO3Vqj' 'dxNA2EY' 'k3z2xnL' 'Lp0APkL']
Passed alphas:['ZpO36rQ']

위 함수들을 이용해 All Pass (correlation 제외) 가 나온 알파들의 id 를 쉽게 구별해 낼 수 있습니다. 주의하셔야 할 점은 is_test 함수에 넣는 input 값은 prettify 하지 않은, alpha simulation 을 마쳤을 때 출력되는 원본 형태를 입력해야 된다는 겁니다.

In [14]:
ace.get_check_submission(s, passed_alphas[0])

InvalidIndexError: You can only assign a scalar value not a <class 'list'>

위 함수로 각 알파가 correlation 을 포함한 모든 기준에서 통과를 했는지 확인 해 볼 수 있습니다.

In [83]:
for alpha_id in passed_alphas:
    print(ace.get_check_submission(s, alpha_id))

                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.1700
1              LOW_FITNESS   PASS   1.00  1.1900
2             LOW_TURNOVER   PASS   0.01  0.3861
3            HIGH_TURNOVER   PASS   0.70  0.3861
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.76  0.9300
6         SELF_CORRELATION   PASS   0.70  0.5198
7         PROD_CORRELATION   FAIL   0.70  0.7659
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  z92n2P8
1                                         NaN  z92n2P8
2                                         NaN  z92n2P8
3                                         NaN  z92n2P8
4                                         NaN  z92n2P8
5                                         NaN  z92n2P8
6                                         NaN  z92n2P8
7                                         NaN  z92n2P8
8                                         NaN  z92n2P8
9  [{'id': 'challenge', 'name': 'Challenge'}]  z92n2P8
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.7900
1              LOW_FITNESS   PASS   1.00  1.7900
2             LOW_TURNOVER   PASS   0.01  0.3496
3            HIGH_TURNOVER   PASS   0.70  0.3496
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.98  1.3700
6         SELF_CORRELATION   PASS   0.70  0.3836
7         PROD_CORRELATION   FAIL   0.70  0.7858
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  Jp3oAxE
1                                         NaN  Jp3oAxE
2                                         NaN  Jp3oAxE
3                                         NaN  Jp3oAxE
4                                         NaN  Jp3oAxE
5                                         NaN  Jp3oAxE
6                                         NaN  Jp3oAxE
7                                         NaN  Jp3oAxE
8                                         NaN  Jp3oAxE
9  [{'id': 'challenge', 'name': 'Challenge'}]  Jp3oAxE
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.6600
1              LOW_FITNESS   PASS   1.00  1.5600
2             LOW_TURNOVER   PASS   0.01  0.3978
3            HIGH_TURNOVER   PASS   0.70  0.3978
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.93  1.4000
6         SELF_CORRELATION   PASS   0.70  0.3758
7         PROD_CORRELATION   FAIL   0.70  0.8155
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  Xpz5Zwm
1                                         NaN  Xpz5Zwm
2                                         NaN  Xpz5Zwm
3                                         NaN  Xpz5Zwm
4                                         NaN  Xpz5Zwm
5                                         NaN  Xpz5Zwm
6                                         NaN  Xpz5Zwm
7                                         NaN  Xpz5Zwm
8                                         NaN  Xpz5Zwm
9  [{'id': 'challenge', 'name': 'Challenge'}]  Xpz5Zwm
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.2500
1              LOW_FITNESS   PASS   1.00  1.2100
2             LOW_TURNOVER   PASS   0.01  0.4356
3            HIGH_TURNOVER   PASS   0.70  0.4356
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.79  0.9300
6         SELF_CORRELATION   PASS   0.70  0.3567
7         PROD_CORRELATION   FAIL   0.70  0.8235
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  lVGb3QA
1                                         NaN  lVGb3QA
2                                         NaN  lVGb3QA
3                                         NaN  lVGb3QA
4                                         NaN  lVGb3QA
5                                         NaN  lVGb3QA
6                                         NaN  lVGb3QA
7                                         NaN  lVGb3QA
8                                         NaN  lVGb3QA
9  [{'id': 'challenge', 'name': 'Challenge'}]  lVGb3QA
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.0800
1              LOW_FITNESS   PASS   1.00  1.1400
2             LOW_TURNOVER   PASS   0.01  0.3579
3            HIGH_TURNOVER   PASS   0.70  0.3579
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.73  0.8900
6         SELF_CORRELATION   PASS   0.70  0.5093
7         PROD_CORRELATION   FAIL   0.70  0.8071
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  LpzJJKL
1                                         NaN  LpzJJKL
2                                         NaN  LpzJJKL
3                                         NaN  LpzJJKL
4                                         NaN  LpzJJKL
5                                         NaN  LpzJJKL
6                                         NaN  LpzJJKL
7                                         NaN  LpzJJKL
8                                         NaN  LpzJJKL
9  [{'id': 'challenge', 'name': 'Challenge'}]  LpzJJKL
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.7700
1              LOW_FITNESS   PASS   1.00  1.8000
2             LOW_TURNOVER   PASS   0.01  0.3328
3            HIGH_TURNOVER   PASS   0.70  0.3328
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.97  1.2700
6         SELF_CORRELATION   PASS   0.70  0.4018
7         PROD_CORRELATION   FAIL   0.70  0.8494
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  5wGAbp1
1                                         NaN  5wGAbp1
2                                         NaN  5wGAbp1
3                                         NaN  5wGAbp1
4                                         NaN  5wGAbp1
5                                         NaN  5wGAbp1
6                                         NaN  5wGAbp1
7                                         NaN  5wGAbp1
8                                         NaN  5wGAbp1
9  [{'id': 'challenge', 'name': 'Challenge'}]  5wGAbp1
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.1300
1              LOW_FITNESS   PASS   1.00  1.1500
2             LOW_TURNOVER   PASS   0.01  0.3854
3            HIGH_TURNOVER   PASS   0.70  0.3854
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.75  0.9800
6         SELF_CORRELATION   PASS   0.70  0.5274
7         PROD_CORRELATION   FAIL   0.70  0.7635
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  KbzjAvE
1                                         NaN  KbzjAvE
2                                         NaN  KbzjAvE
3                                         NaN  KbzjAvE
4                                         NaN  KbzjAvE
5                                         NaN  KbzjAvE
6                                         NaN  KbzjAvE
7                                         NaN  KbzjAvE
8                                         NaN  KbzjAvE
9  [{'id': 'challenge', 'name': 'Challenge'}]  KbzjAvE

                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.4700
1              LOW_FITNESS   PASS   1.00  1.3400
2             LOW_TURNOVER   PASS   0.01  0.4417
3            HIGH_TURNOVER   PASS   0.70  0.4417
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.86  1.0800
6         SELF_CORRELATION   PASS   0.70  0.3222
7         PROD_CORRELATION   FAIL   0.70  0.7670
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  xxG0den
1                                         NaN  xxG0den
2                                         NaN  xxG0den
3                                         NaN  xxG0den
4                                         NaN  xxG0den
5                                         NaN  xxG0den
6                                         NaN  xxG0den
7                                         NaN  xxG0den
8                                         NaN  xxG0den
9  [{'id': 'challenge', 'name': 'Challenge'}]  xxG0den
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.8000
1              LOW_FITNESS   PASS   1.00  1.6400
2             LOW_TURNOVER   PASS   0.01  0.4388
3            HIGH_TURNOVER   PASS   0.70  0.4388
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.98  1.4300
6         SELF_CORRELATION   PASS   0.70  0.3480
7         PROD_CORRELATION   FAIL   0.70  0.7862
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  37PZ3vz
1                                         NaN  37PZ3vz
2                                         NaN  37PZ3vz
3                                         NaN  37PZ3vz
4                                         NaN  37PZ3vz
5                                         NaN  37PZ3vz
6                                         NaN  37PZ3vz
7                                         NaN  37PZ3vz
8                                         NaN  37PZ3vz
9  [{'id': 'challenge', 'name': 'Challenge'}]  37PZ3vz
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  1.9900
1              LOW_FITNESS   PASS   1.00  1.0700
2             LOW_TURNOVER   PASS   0.01  0.3659
3            HIGH_TURNOVER   PASS   0.70  0.3659
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.70  0.7500
6         SELF_CORRELATION   PASS   0.70  0.5120
7         PROD_CORRELATION   FAIL   0.70  0.7916
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  m879JN9
1                                         NaN  m879JN9
2                                         NaN  m879JN9
3                                         NaN  m879JN9
4                                         NaN  m879JN9
5                                         NaN  m879JN9
6                                         NaN  m879JN9
7                                         NaN  m879JN9
8                                         NaN  m879JN9
9  [{'id': 'challenge', 'name': 'Challenge'}]  m879JN9
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5000
1              LOW_FITNESS   PASS   1.00  1.4900
2             LOW_TURNOVER   PASS   0.01  0.3888
3            HIGH_TURNOVER   PASS   0.70  0.3888
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.88  1.2900
6         SELF_CORRELATION   PASS   0.70  0.4053
7         PROD_CORRELATION   FAIL   0.70  0.8508
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  oKGMjGn
1                                         NaN  oKGMjGn
2                                         NaN  oKGMjGn
3                                         NaN  oKGMjGn
4                                         NaN  oKGMjGn
5                                         NaN  oKGMjGn
6                                         NaN  oKGMjGn
7                                         NaN  oKGMjGn
8                                         NaN  oKGMjGn
9  [{'id': 'challenge', 'name': 'Challenge'}]  oKGMjGn
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5600
1              LOW_FITNESS   PASS   1.00  1.6800
2             LOW_TURNOVER   PASS   0.01  0.3231
3            HIGH_TURNOVER   PASS   0.70  0.3231
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.90  1.1600
6         SELF_CORRELATION   PASS   0.70  0.4289
7         PROD_CORRELATION   FAIL   0.70  0.8844
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  wRN2mEv
1                                         NaN  wRN2mEv
2                                         NaN  wRN2mEv
3                                         NaN  wRN2mEv
4                                         NaN  wRN2mEv
5                                         NaN  wRN2mEv
6                                         NaN  wRN2mEv
7                                         NaN  wRN2mEv
8                                         NaN  wRN2mEv
9  [{'id': 'challenge', 'name': 'Challenge'}]  wRN2mEv
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.1500
1              LOW_FITNESS   PASS   1.00  1.1500
2             LOW_TURNOVER   PASS   0.01  0.3730
3            HIGH_TURNOVER   PASS   0.70  0.3730
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.75  0.8500
6         SELF_CORRELATION   PASS   0.70  0.4998
7         PROD_CORRELATION   FAIL   0.70  0.7646
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  qAGqPLK
1                                         NaN  qAGqPLK
2                                         NaN  qAGqPLK
3                                         NaN  qAGqPLK
4                                         NaN  qAGqPLK
5                                         NaN  qAGqPLK
6                                         NaN  qAGqPLK
7                                         NaN  qAGqPLK
8                                         NaN  qAGqPLK
9  [{'id': 'challenge', 'name': 'Challenge'}]  qAGqPLK
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5400
1              LOW_FITNESS   PASS   1.00  1.5200
2             LOW_TURNOVER   PASS   0.01  0.3896
3            HIGH_TURNOVER   PASS   0.70  0.3896
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.89  1.1700
6         SELF_CORRELATION   PASS   0.70  0.4052
7         PROD_CORRELATION   FAIL   0.70  0.8503
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  JpzZege
1                                         NaN  JpzZege
2                                         NaN  JpzZege
3                                         NaN  JpzZege
4                                         NaN  JpzZege
5                                         NaN  JpzZege
6                                         NaN  JpzZege
7                                         NaN  JpzZege
8                                         NaN  JpzZege
9  [{'id': 'challenge', 'name': 'Challenge'}]  JpzZege

                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.3300
1              LOW_FITNESS   PASS   1.00  1.3900
2             LOW_TURNOVER   PASS   0.01  0.3689
3            HIGH_TURNOVER   PASS   0.70  0.3689
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.82  1.0300
6         SELF_CORRELATION   PASS   0.70  0.3848
7         PROD_CORRELATION   FAIL   0.70  0.8931
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  8zJ1aRV
1                                         NaN  8zJ1aRV
2                                         NaN  8zJ1aRV
3                                         NaN  8zJ1aRV
4                                         NaN  8zJ1aRV
5                                         NaN  8zJ1aRV
6                                         NaN  8zJ1aRV
7                                         NaN  8zJ1aRV
8                                         NaN  8zJ1aRV
9  [{'id': 'challenge', 'name': 'Challenge'}]  8zJ1aRV
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5100
1              LOW_FITNESS   PASS   1.00  1.4900
2             LOW_TURNOVER   PASS   0.01  0.3269
3            HIGH_TURNOVER   PASS   0.70  0.3269
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.88  1.0900
6         SELF_CORRELATION   PASS   0.70  0.5402
7         PROD_CORRELATION   FAIL   0.70  0.7620
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  MpgeWQ6
1                                         NaN  MpgeWQ6
2                                         NaN  MpgeWQ6
3                                         NaN  MpgeWQ6
4                                         NaN  MpgeWQ6
5                                         NaN  MpgeWQ6
6                                         NaN  MpgeWQ6
7                                         NaN  MpgeWQ6
8                                         NaN  MpgeWQ6
9  [{'id': 'challenge', 'name': 'Challenge'}]  MpgeWQ6
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.2400
1              LOW_FITNESS   PASS   1.00  1.2200
2             LOW_TURNOVER   PASS   0.01  0.3651
3            HIGH_TURNOVER   PASS   0.70  0.3651
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.78  0.9800
6         SELF_CORRELATION   PASS   0.70  0.4966
7         PROD_CORRELATION   FAIL   0.70  0.7746
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  AwzKKxX
1                                         NaN  AwzKKxX
2                                         NaN  AwzKKxX
3                                         NaN  AwzKKxX
4                                         NaN  AwzKKxX
5                                         NaN  AwzKKxX
6                                         NaN  AwzKKxX
7                                         NaN  AwzKKxX
8                                         NaN  AwzKKxX
9  [{'id': 'challenge', 'name': 'Challenge'}]  AwzKKxX
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.7100
1              LOW_FITNESS   PASS   1.00  1.6000
2             LOW_TURNOVER   PASS   0.01  0.3986
3            HIGH_TURNOVER   PASS   0.70  0.3986
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.95  1.2700
6         SELF_CORRELATION   PASS   0.70  0.3764
7         PROD_CORRELATION   FAIL   0.70  0.8162
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  LpzAMne
1                                         NaN  LpzAMne
2                                         NaN  LpzAMne
3                                         NaN  LpzAMne
4                                         NaN  LpzAMne
5                                         NaN  LpzAMne
6                                         NaN  LpzAMne
7                                         NaN  LpzAMne
8                                         NaN  LpzAMne
9  [{'id': 'challenge', 'name': 'Challenge'}]  LpzAMne
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5400
1              LOW_FITNESS   PASS   1.00  1.5100
2             LOW_TURNOVER   PASS   0.01  0.3777
3            HIGH_TURNOVER   PASS   0.70  0.3777
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.89  1.1600
6         SELF_CORRELATION   PASS   0.70  0.3609
7         PROD_CORRELATION   FAIL   0.70  0.8652
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  xxGgPvN
1                                         NaN  xxGgPvN
2                                         NaN  xxGgPvN
3                                         NaN  xxGgPvN
4                                         NaN  xxGgPvN
5                                         NaN  xxGgPvN
6                                         NaN  xxGgPvN
7                                         NaN  xxGgPvN
8                                         NaN  xxGgPvN
9  [{'id': 'challenge', 'name': 'Challenge'}]  xxGgPvN
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.4500
1              LOW_FITNESS   PASS   1.00  1.4400
2             LOW_TURNOVER   PASS   0.01  0.3450
3            HIGH_TURNOVER   PASS   0.70  0.3450
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.86  1.1900
6         SELF_CORRELATION   PASS   0.70  0.5098
7         PROD_CORRELATION   PASS   0.70  0.7194
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  z9Agxgo
1                                         NaN  z9Agxgo
2                                         NaN  z9Agxgo
3                                         NaN  z9Agxgo
4                                         NaN  z9Agxgo
5                                         NaN  z9Agxgo
6                                         NaN  z9Agxgo
7                                         NaN  z9Agxgo
8                                         NaN  z9Agxgo
9  [{'id': 'challenge', 'name': 'Challenge'}]  z9Agxgo
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.6400
1              LOW_FITNESS   PASS   1.00  1.4900
2             LOW_TURNOVER   PASS   0.01  0.4249
3            HIGH_TURNOVER   PASS   0.70  0.4249
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.92  1.3000
6         SELF_CORRELATION   PASS   0.70  0.5286
7         PROD_CORRELATION   FAIL   0.70  0.7371
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  roGvE9j
1                                         NaN  roGvE9j
2                                         NaN  roGvE9j
3                                         NaN  roGvE9j
4                                         NaN  roGvE9j
5                                         NaN  roGvE9j
6                                         NaN  roGvE9j
7                                         NaN  roGvE9j
8                                         NaN  roGvE9j
9  [{'id': 'challenge', 'name': 'Challenge'}]  roGvE9j

                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.5800
1              LOW_FITNESS   PASS   1.00  1.5600
2             LOW_TURNOVER   PASS   0.01  0.3700
3            HIGH_TURNOVER   PASS   0.70  0.3700
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.90  1.2600
6         SELF_CORRELATION   PASS   0.70  0.3681
7         PROD_CORRELATION   FAIL   0.70  0.8606
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  wRGgxYl
1                                         NaN  wRGgxYl
2                                         NaN  wRGgxYl
3                                         NaN  wRGgxYl
4                                         NaN  wRGgxYl
5                                         NaN  wRGgxYl
6                                         NaN  wRGgxYl
7                                         NaN  wRGgxYl
8                                         NaN  wRGgxYl
9  [{'id': 'challenge', 'name': 'Challenge'}]  wRGgxYl
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.7700
1              LOW_FITNESS   PASS   1.00  1.5400
2             LOW_TURNOVER   PASS   0.01  0.4322
3            HIGH_TURNOVER   PASS   0.70  0.4322
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.97  1.3900
6         SELF_CORRELATION   PASS   0.70  0.5072
7         PROD_CORRELATION   PASS   0.70  0.7028
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  6w0v3oG
1                                         NaN  6w0v3oG
2                                         NaN  6w0v3oG
3                                         NaN  6w0v3oG
4                                         NaN  6w0v3oG
5                                         NaN  6w0v3oG
6                                         NaN  6w0v3oG
7                                         NaN  6w0v3oG
8                                         NaN  6w0v3oG
9  [{'id': 'challenge', 'name': 'Challenge'}]  6w0v3oG
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.6500
1              LOW_FITNESS   PASS   1.00  1.5700
2             LOW_TURNOVER   PASS   0.01  0.4299
3            HIGH_TURNOVER   PASS   0.70  0.4299
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.93  1.3300
6         SELF_CORRELATION   PASS   0.70  0.3816
7         PROD_CORRELATION   FAIL   0.70  0.8250
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  EwzXYzR
1                                         NaN  EwzXYzR
2                                         NaN  EwzXYzR
3                                         NaN  EwzXYzR
4                                         NaN  EwzXYzR
5                                         NaN  EwzXYzR
6                                         NaN  EwzXYzR
7                                         NaN  EwzXYzR
8                                         NaN  EwzXYzR
9  [{'id': 'challenge', 'name': 'Challenge'}]  EwzXYzR
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.2400
1              LOW_FITNESS   PASS   1.00  1.2000
2             LOW_TURNOVER   PASS   0.01  0.3927
3            HIGH_TURNOVER   PASS   0.70  0.3927
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.78  1.0600
6         SELF_CORRELATION   PASS   0.70  0.5140
7         PROD_CORRELATION   FAIL   0.70  0.7379
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  dxzAJ3w
1                                         NaN  dxzAJ3w
2                                         NaN  dxzAJ3w
3                                         NaN  dxzAJ3w
4                                         NaN  dxzAJ3w
5                                         NaN  dxzAJ3w
6                                         NaN  dxzAJ3w
7                                         NaN  dxzAJ3w
8                                         NaN  dxzAJ3w
9  [{'id': 'challenge', 'name': 'Challenge'}]  dxzAJ3w
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.3500
1              LOW_FITNESS   PASS   1.00  1.4100
2             LOW_TURNOVER   PASS   0.01  0.3190
3            HIGH_TURNOVER   PASS   0.70  0.3190
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.82  1.0000
6         SELF_CORRELATION   PASS   0.70  0.5542
7         PROD_CORRELATION   FAIL   0.70  0.7929
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  Lp8mjaL
1                                         NaN  Lp8mjaL
2                                         NaN  Lp8mjaL
3                                         NaN  Lp8mjaL
4                                         NaN  Lp8mjaL
5                                         NaN  Lp8mjaL
6                                         NaN  Lp8mjaL
7                                         NaN  Lp8mjaL
8                                         NaN  Lp8mjaL
9  [{'id': 'challenge', 'name': 'Challenge'}]  Lp8mjaL
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.3200
1              LOW_FITNESS   PASS   1.00  1.3700
2             LOW_TURNOVER   PASS   0.01  0.3374
3            HIGH_TURNOVER   PASS   0.70  0.3374
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.81  1.1000
6         SELF_CORRELATION   PASS   0.70  0.5235
7         PROD_CORRELATION   FAIL   0.70  0.7533
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  17GO8GX
1                                         NaN  17GO8GX
2                                         NaN  17GO8GX
3                                         NaN  17GO8GX
4                                         NaN  17GO8GX
5                                         NaN  17GO8GX
6                                         NaN  17GO8GX
7                                         NaN  17GO8GX
8                                         NaN  17GO8GX
9  [{'id': 'challenge', 'name': 'Challenge'}]  17GO8GX
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.2900
1              LOW_FITNESS   PASS   1.00  1.2400
2             LOW_TURNOVER   PASS   0.01  0.3933
3            HIGH_TURNOVER   PASS   0.70  0.3933
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.80  1.0100
6         SELF_CORRELATION   PASS   0.70  0.5057
7         PROD_CORRELATION   FAIL   0.70  0.7402
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  PpYmYnW
1                                         NaN  PpYmYnW
2                                         NaN  PpYmYnW
3                                         NaN  PpYmYnW
4                                         NaN  PpYmYnW
5                                         NaN  PpYmYnW
6                                         NaN  PpYmYnW
7                                         NaN  PpYmYnW
8                                         NaN  PpYmYnW
9  [{'id': 'challenge', 'name': 'Challenge'}]  PpYmYnW

                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.6100
1              LOW_FITNESS   PASS   1.00  1.6900
2             LOW_TURNOVER   PASS   0.01  0.3402
3            HIGH_TURNOVER   PASS   0.70  0.3402
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.91  1.2500
6         SELF_CORRELATION   PASS   0.70  0.4079
7         PROD_CORRELATION   FAIL   0.70  0.8244
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  dx9YMjE
1                                         NaN  dx9YMjE
2                                         NaN  dx9YMjE
3                                         NaN  dx9YMjE
4                                         NaN  dx9YMjE
5                                         NaN  dx9YMjE
6                                         NaN  dx9YMjE
7                                         NaN  dx9YMjE
8                                         NaN  dx9YMjE
9  [{'id': 'challenge', 'name': 'Challenge'}]  dx9YMjE
                      name result  limit   value  \
0               LOW_SHARPE   PASS   1.25  2.3700
1              LOW_FITNESS   PASS   1.00  1.4400
2             LOW_TURNOVER   PASS   0.01  0.3613
3            HIGH_TURNOVER   PASS   0.70  0.3613
4      CONCENTRATED_WEIGHT   PASS    NaN     NaN
5  LOW_SUB_UNIVERSE_SHARPE   PASS   0.83  1.1400
6         SELF_CORRELATION   PASS   0.70  0.3930
7         PROD_CORRELATION   FAIL   0.70  0.8912
8       REGULAR_SUBMISSION   PASS   4.00  0.0000
9      MATCHES_COMPETITION   PASS    NaN     NaN

                                 competitions alpha_id
0                                         NaN  RpzWQ7o
1                                         NaN  RpzWQ7o
2                                         NaN  RpzWQ7o
3                                         NaN  RpzWQ7o
4                                         NaN  RpzWQ7o
5                                         NaN  RpzWQ7o
6                                         NaN  RpzWQ7o
7                                         NaN  RpzWQ7o
8                                         NaN  RpzWQ7o
9  [{'id': 'challenge', 'name': 'Challenge'}]  RpzWQ7o

위 함수로 통과한 알파들을 한꺼번에 돌려볼 수 있습니다. 다만 여러개를 돌리면 시간이 꽤 걸리는 점 주의해 주시길 바랍니다.

In [49]:
for alpha_id in passed_alphas:
    hf.set_alpha_properties(s, alpha_id, tags = ['Sep06_GLB'])

위 함수로 통과한 알파들에 태그를 붙일 수 있습니다.

When you got a list of submittable alphas, you can call function submit_alpha()

In [50]:
#calling submit_alpha on all alphas that have passed the submission tests

submit_result = {alpha_id: ace.submit_alpha(s, alpha_id) for alpha_id in passed_alphas}

위 함수로 알파를 제출할 수 있습니다.

알파의 id 로 제출하는 것이기 때문에, 그 알파를 시뮬레이션 한 날짜가 중요합니다. 가령, 1주일 전에 시뮬레이션 해 결과를 저장해 두었던 alpha id로 제출을 한다면 제출 날짜가 1주일 전이 됩니다. 그러니 오늘 제출하고 싶은 alpha 가 있다면 시뮬레이션을 다시 돌려 새로 생긴 alpha id 를 이용해야 합니다. 이 과정은 alpha 에 특정 태그를 달아 Brain 플랫폼에서 직접 하는게 훨씬 수월합니다. (다만, 플랫폼에서는 alpha id 로 알파를 검색할 수 없습니다.)

In [51]:
#submit_result will have return values from the submit_result function

submit_result

{'ZpO36rQ': False}

주의하셔야 하실 점은, 하루 최대 알파 제출 한도인 4개를 루프중에 이미 넘기면 그 뒤의 알파들이 제출 가능하더라도 자동으로 제출에 실패하게 됩니다.

### Library Fuctions.

following are some other functions that you can use for your own analysis

**get_alpha_pnl(s, alpha_id)** - to get the pnl for an alpha

**get_alpha_yearly_stats(s, alpha_id)** - to get yearly statistics for an alpha

**get_self_corr(s, alpha_id)** - to get self correlation results for an alpha

**get_prod_corr(s, alpha_id)** - to get prod correlation results for an alpha

**get_check_submission(s, alpha_id)** - to get check submission result for an alpha

**check_self_corr_test(s, alpha_id)** - to check if alpha passes self correlation test (self_corr<0.7)

**check_prod_corr_test(s, alpha_id)** - to check if alpha passes prod correlation test (prod_corr<0.7)

**perfomance_comparison(s, alpha_id)** - to get the result of performance comparison for an alpha merged performance

유용한 추가 함수들입니다. prod correlation 혹은 self correlation 만을 확인하고 싶을 때, 혹은 알파의 pnl 을 확인하고 싶을때 유용히 쓰입니다.